/* /src/components/view3/View3.css */
.view {
  padding: 20px;

  background-color: #DDC08D;
}

.top-images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.back-image{
  width: 30px
}
.pastelito-image {
  width: 30px
}

.contact-info {
  margin-top: 20px;
}

.contact-info p {
  margin: 10px;
}

.map-container {
  margin-top: 30px;
}

.map-container img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
