/* /src/components/view3/View3.css */
.view {
  padding: 20px;
  text-align: center;
  background-color: #DDC08D;
}

.top-section,
.bottom-section {
  margin-bottom: 20px;
}

.top-images {
  display: flex;
  justify-content: space-between;
}

.back-button,
.logo {
  height: 30px; /* Ajusta la altura según sea necesario */
}

h2 {
  color: #333;
}

/* Puedes agregar más estilos según sea necesario */
