/* /src/components/view3/TagPasteles.css */
.contenedor-api {
    background-color: #ffffff;
    height: 250px;
    width: 150px;
    border-radius: 20px;
    margin: 10px;
    padding: 100px;
    max-width: 150px;
    display: flex;
    justify-content: space-between; /* Espaciado uniforme entre los contenedores */
    align-items: flex-start; /* Alineación de los contenedores en la parte superior */
  }
  
  .text-container {
    
    flex: 1
    ; /* El texto ocupa todo el espacio disponible */
    text-align: left; /* Alineación del texto a la izquierda */
¡
}
  
  .image-container {
    margin-left: 25px; /* Ajusta el margen izquierdo según sea necesario */
  }
  
  .menu-item {
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: auto;
  }
  
  .contenedor-api h2,
  .contenedor-api p {
    margin: 0;
    font-size: 12px;
  }
  