*{
  margin: 0%;
  padding: 0%;

}
.cuerpo{
  border-radius: 20px;
  background: #FFF;
  margin: 20px;
}

.dest {
  color: #935614;
  display: flex;
}
.titulo {
  color: #000;
  text-align: center;
  font-family: Maven Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.descrp {
  color: darkgray;
}
 .butt {
  background-color: #4DB066;
  border-radius: 50%;
 }
